@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
body {
  background: rgba(250, 250, 250, 1);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 85vh;
  background-color: whitesmoke;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;  
  min-height: 85vh;
  flex-direction: column;
  background-color: whitesmoke;
}

h6 {
  display: flex;
  flex-direction: row;
  color: slategray;
  font-weight: normal;
  padding: 20px;
}
h6:before,
h6:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid lightgray;
    margin: 7px;
}

.box {
  width: 350px;
  height: 415px;
  border: 1px solid lightgray;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  text-align: center;
}

.padding {
  padding: 10px;
}

.signUp-box {
  width: 350px;
    height: 55px;
    border: 1px solid lightgray;
    padding: 15px;
    text-align: center;
    color: slategrey;
    background-color: white;
    margin-top: 10px;
    border-radius: 3px;
}

.getAppSection {
  width: 350px;
  padding: 5px;
  text-align: center;
}

.links {
  color: deepskyblue;
}

.forgotPwd-box {
  width: 450px;
  height: 500px;
  border: 1px solid lightgray;
  background-color: white;
  text-align: center;
}

.troubleHeader {
  font-size: 18px;
}

.signupHeader {
  font-size: 16px;
    width: 280px;
    padding-left: 40px;
    font-weight: 500;
    color: darkslategray;
}

.header {
  text-align: left;
  background-color: white;
  padding-left: 20px;
}

#forgotBox {
  position: relative;
}
#back {
  position: absolute;
    bottom: 0;
    background-color: whitesmoke;
    width: 100%;
    border: 1px solid lightgrey;
    height: 40px;
    padding: 8px;
}

.forgotUserData {
  display: block;
    width: 300px;
    margin-left: 70px;
    margin-top: 10px;
    color: slategray;
}

.marginTop {
  margin-top: 10px;
}

.button {
  color: white;
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    width: 300px;
    height: 30px;
    border-radius: 3px;
}

.fbButton {
  width: 285px;
}

.padding-right-5 {
  padding-right: 5px;
}

input {
  width: 300px;
    height: 35px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    margin: 10px;
    padding: 5px;
}

input:disabled {
  opacity: 0.6;
}

.navigationLinks {
  color: black;
}

a {
  text-decoration: none;;
}

.showPassword {
  float: right;
  font-size: small;
  margin-top: -32px;
  margin-right: 31px;
  position: relative;
  z-index: 2;
}

.loginSection {
  text-align: center;
}

.forgotPassword {
  margin-top: 20px;
}

.forgotPwd {
  font-size: 12px;
}

footer {
  padding: 30px 20px;
}

.fb {
  width: 25px;
  height: 25px;
  margin-bottom: -7px;
  margin-right: 0px;
}

.fbLink {
  color: royalblue;
}

footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}
footer ul li {
  font-size: 12px;
  line-height: 14px;
  list-style: none;
  color: rgba(142, 142, 142, 1);
  cursor: pointer;
}
footer .copyright {
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer .copyright select {
  font-size: 12px;
  background: none;
  color: rgba(142, 142, 142, 1);
  border: none;
  cursor: pointer;
}
footer .copyright select option {
  width: 50px;
}
footer .copyright span {
  font-size: 12px;
  line-height: 14px;
  color: rgba(142, 142, 142, 1);
}
